* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html {
    font-size: 22px;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "Courier", sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "Courier", sans-serif;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: inherit;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    color: #000000;
    overflow-x: hidden;
}

body._lock {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
    font-family: "Sagetarius";
    font-style: normal;
    font-weight: 400;
    font-display: swap;    
    src: url("../fonts/sagetarius.otf") format("opentype");
}

@font-face {
    font-family: "Gogh";
    font-style: normal;
    font-weight: 800;
    font-display: swap;    
    src: url("../fonts/Gogh-ExtraBold.otf") format("opentype");
}

.wrapper {
    width: 913px;
    max-height: 100%;
    display: flex;
    margin: 0 auto;    
    padding-left: 35px;
    padding-right: 35px;    
}

.sidebar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    background-color: rgba(10, 0, 249, 50%);
}

.sidebar__avatar {
    
    height: 250px;
    margin-top: 20px;
}

.sidebar__title {
    width: 335px;
    height: 120px;
    font-family: 'Sagetarius';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 136px;
    text-transform: capitalize;
    color: #070A17;
    transform: rotate(-90deg);
}

.sidebar__contacts{
    width: 100%;
    font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
text-align: right;
color: #070A17;

}

.location,
.mail {
    display: block;
    
    background-color: #fff;
}

.phone {
    margin: 5px 0;
}
.mail {
    margin-bottom: 20px;
}
.main {
    width: 70%;
    min-height: 100vh;
    padding-left: 33px;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__title {
    font-family: 'Gogh';
font-style: normal;
font-weight: 800;
font-size: 42px;
line-height: 61px;
text-transform: uppercase;
color: #070A17;
}

.main__subtitle {
    position: relative;
    display: block;
    z-index: 10;
    text-align: right;
    font-family: "Sagetarius";
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 60px;
color: #141429;

}

.main__subtitle::before {
    position: absolute;
    z-index: 1;
    content: "";
    width: 24px;
    height: 24px;
    background-color: rgba(10, 0, 249, 50%);
}

.title {
    font-family: 'Gogh';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
color: #070A17;
margin-bottom: 12px;
}

.title::before {
    position: absolute;
    z-index: 1;
    content: "";
    width: 24px;
    height: 24px;
    background-color: rgba(10, 0, 249, 50%);
}

.subtitle,
.footer__git {
    font-family: 'Courier New';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #070A17;

}

.subtitle span {
    font-weight: 900;    
}

section {
    margin-bottom: 10px;
}

code {
    font-size: 16px;
line-height: 22px;
}
.code,
.code__title {
    margin-bottom: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer__git {
    font-family: "Sagetarius";
    font-style: normal;
    font-weight: 500;
    color: #070A17;
}
.footer__rss {
    width: 100px;
}
